/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* GENERAL TEXT */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #fefefe;
    width: 1000px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* top and bottom 0, left and right auto */
}

.text-sm,
.labels,
select {
    font-size: 12px;
}

select:hover {
    cursor: pointer;
}

a {
    color: #759faf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* CONTAINERS */
#chart {
    position: relative;
}

#nbviz {
    position: absolute;
    top: 90px;
    width: 100%;
}

#chart-holder {
    width: 100%;
    height: 750px;
    position: relative;
    padding: 0 0 20px 0;
}

#chart-holder svg {
    width: 100%;
    height: 100%;
}

#nobel-map,
#nobel-winner,
#nobel-bar,
#nobel-time,
#nobel-list {
    position: absolute;
}


/* HEADER SECTION */

#header {
    position: absolute;
    width: 100%;
    top: 30px;
}

#title {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}

#subtitle {
    color: #8f9197;
    position: absolute;
    font-size: 17px;

}


/* FILTERS */

#nobel-menu,
#metric-radio {
    display: flex;
    align-items: center;
}

#metric-radio label {
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
}

#nobel-menu select {
    margin-right: 30px;
}

#metric-radio form {
    margin-left: 5px
}

#metric-radio input {
    margin-right: 5px;
}

#metric-radio input:hover {
    cursor: pointer;
}


/* TIME CHART */

#nobel-time {
    top: 0;
    height: 155px;
    width: 100%;
}


/* BAR CHART */

#nobel-bar {
    top: 510px;
    height: 180px;
    width: 700px;
}

#nobel-bar .active {
    fill: goldenrod;
    opacity: 0.5;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


/* MAP */

#nobel-map {
    background: #f3f5f7;
    top: 155px;
    width: 670px;
    height: 350px;
}

.graticule {
    fill: none;
    stroke: #cfcfcf;
    stroke-width: 0.5px;
    stroke-opacity: 0;
}

.land {
    /*fill: #b8c8b6;*/
    fill: #dfdfdf;
}

.country {
    fill: #c2d3c6;
}

.country.active {
    fill: rgb(155, 175, 166);
}

.centroid {
    pointer-events: none;
}

.centroid.active {
    fill: goldenrod;
    fill-opacity: 0.6;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
}


/* MAP TOOLTIP */

#map-tooltip {
    position: absolute;
    /* min-width: 10px; */
    /* min-height: 10px; */
    pointer-events: none;
    color: #eee;
    font-size: 12px;
    /* border:10px; */
    opacity: 0.7;
    background: #222;
    border: 2px solid #555;
    border-color: goldenrod;
    padding: 10px;
    left: -999px;
}

#map-tooltip h2 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}


/* WINNERS LIST */

#nobel-list {
    top: 160px;
    height: 340px;
    width: 290px;
    left: 700px;
    padding-left: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

#nobel-list * {
    font-weight: normal;
}

#nobel-list table {
    font-size: 10px;
}

#nobel-list table th {
    font-weight: 600;
    text-align: left;
}

#nobel-list table th#year {
    width: 30px
}

#nobel-list table th#category {
    width: 120px
}

#nobel-list table th#name {
    width: 120px
}

#nobel-list h2 {
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    font-weight: 600;
}

#nobel-list tr:hover {
    cursor: pointer;
    background: #c0e3ed;
}


/* WINNER INFOBOX */

#nobel-winner {
    top: 510px;
    left: 700px;
    height: 240px;
    width: 300px;
    font-size: 11px;
    overflow: auto;
    overflow-x: hidden;
    border-top: 5px solid;
}

#nobel-winner #winner-title {
    font-size: 14px;
    padding: 10px 0px;
    font-weight: 600;
}

#nobel-winner #infobox .label {
    display: inline-block;
    width: 60px;
    font-weight: 600;
}

#nobel-winner #biobox {
    font-size: 11px;
}

#nobel-winner #biobox p {
    text-align: justify;
}

#nobel-winner #picbox {
    float: right;
    margin-left: 12px;
    margin-bottom: 3px;
}

#nobel-winner #picbox img {
    width: 100px;
}

#nobel-winner #readmore {
    /* font-weight: bold; */
    text-align: center;
}